{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap_pagination %}

{% block content %}

<div class="container">
	<div class="row">
        <div class="col-md-12">
            <h3>Events</h3>
            <button class="btn icon-btn btn-success" data-title="Add" data-toggle="modal" data-target="#add"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span> Add</button>

            <div id="event-table">
                {% include "eventTable.html" %}
            </div>
            
            <div class="pull-right">{% bootstrap_paginate events range=10 show_first_last="true" %}</div>
        </div>
    </div>
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add</h4>
            </div>
            
            <div class="modal-body" id="add-body">
                Loading content...
            </div>
            
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <button type="button" id="add-button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit</h4>
            </div>
            
            <div class="modal-body" id="edit-body">
                Loading form content...
            </div>
            
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <button type="button" id="edit-button" data-dismiss="modal" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            
            <div class="modal-body" id="delete-body">
                Loading form content...
            </div>
            
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <button type="button" id="delete-button" data-dismiss="modal" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="statistics" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Statistics</h4>
            </div>
            
            <div class="modal-body" id="statistics-view">
                Loading content...
            </div>
            
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Dismiss</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/event.js' %}"></script>
{% endblock %}
