{% load filters %}

<table class="table table-responsive table-bordred table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>HTTP Response</th>
            <th>Ticket ID</th>
        </tr>
    </thead>

    <tbody>
        {% for log in logs %}
            <tr>
              <td>{{ log.id }}</td>
              <td>{{ log.time }}</td>
              <td>{% if log.httpResponse == '202' %} {{log.httpResponse}}="Billet Validé" {% elif log.httpResponse == '409' %} {{log.httpResponse}}="Billet déjà Validé" {% endif %}</td>
              <td>{{ log.ticketHash }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
